@model ErrorViewModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.PageTitle</title>
    <link href="~/css/vendors/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="~/css/site.min.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h1 class="text-danger">@Model.Title</h1>
                <h2>@Model.Message</h2>
                <p>
                    Here are some options:
                    <ul>
                        <li>You can check the <a href="~/blog">blog</a> and see the most recent content</li>
                        <li>Take a look into the <a href="~/archive">archive</a> if you want to see everything what's been written</li>
                        <li>Return to the <a href="~/">home page</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
