@page
@model IndexModel
@{
    ViewData["PageTitle"] = "Profile";
    ViewData["PanelTitle"] = "Profile information";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/cms">Dashboard</a></li>
        <li class="breadcrumb-item active">@ViewBag.PageTitle</li>
    </ol>
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
        <div class="card">
            <div class="card-header">
                <strong>@ViewBag.PanelTitle</strong>
            </div>
            <form method="post">
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col">
                            <figure class="figure">
                                <gravatar email-address="@Model.Input.Email" image-size="100" additional-css-classes="figure-img img-fluid rounded"></gravatar>
                                <figcaption class="figure-caption">Image loaded from <a href="https://gravatar.com" target="_blank">gravatar.com</a></figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Input.Username" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Input.Username" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Input.Name" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Input.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Input.Surname" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Input.Surname" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Input.Email" class="col-md-2 form-control-label"></label>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input asp-for="Input.Email" class="form-control" />
                                    <div class="input-group-append" aria-hidden="true">
                                        <span class="input-group-text"><i class="fas fa-check-circle text-success"></i></span>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-10">
                                <input asp-for="Input.Email" class="form-control" />
                                <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                            </div>
                        }
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Input.PhoneNumber" class="col-md-2 form-control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Input.PhoneNumber" class="form-control" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="far fa-dot-circle"></i> Save</button>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
