@{ Layout = null; }
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager
<!--
 * CoreUI - Open Source Bootstrap Admin Template
 * version v1.0.2
 * link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * license MIT
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
    <link rel="shortcut icon" href="~/img/favicon.png">
    <title>@ViewData["PageTitle"] - CmsEngine</title>

    <environment include="Development">
        <!-- Icons -->
        <link href="~/css/vendors/font-awesome.min.css" rel="stylesheet">
        <link href="~/css/vendors/simple-line-icons.min.css" rel="stylesheet">
        <!-- Main styles for this application -->
        <link href="~/css/admin.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">

    </environment>
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card-group mb-0">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <!-- Bootstrap and necessary plugins -->
        <script src="~/js/vendors/jquery.min.js"></script>
        <script src="~/js/vendors/popper.min.js"></script>
        <script src="~/js/vendors/bootstrap.min.js"></script>
        <script src="~/js/vendors/pace.min.js"></script>

        <script src="~/js/app.js"></script>
    </environment>
    <environment exclude="Development">

    </environment>

    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    @*<script src="~/js/views/main.js"></script>*@
    @RenderSection("Scripts", false)
</body>
</html>
