<cms-load [loading]="items <= 0"></cms-load>

<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        {{ column }}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let dataProp of row.dataProperties" [ngSwitch]="dataProp.dataType">
        <ng-container *ngSwitchCase="'Guid'">
          <a [routerLink]="['../edit/' + dataProp.dataContent]" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a (click)="deleteItem(dataProp.dataContent)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </ng-container>
        <ng-container *ngSwitchCase="'Boolean'">
          <input type="checkbox" />
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ dataProp.dataContent }}
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
<!--
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="#">Prev</a></li>
  <li class="page-item active">
    <a class="page-link" href="#">1</a>
  </li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">4</a></li>
  <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
-->
