@{ Layout = "_ExternalLayout"; }
@model ForgotPasswordViewModel

<div class="card p-4">
    <form asp-action="ForgotPassword" method="post">
        <div class="card-body">
            <h1>@ViewData["PageTitle"]</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input asp-for="Email" class="form-control" placeholder="E-mail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
