@{ Layout = "_ExternalLayout"; }
@model ResetPasswordViewModel
<div class="card p-4">
    <form method="post">
        <div class="card-body">
            <h1>@ViewData["PageTitle"]</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input asp-for="Email" placeholder="Username" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input asp-for="Password" placeholder="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input asp-for="ConfirmPassword" placeholder="Confirm password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
