@{ Layout = "_ExternalLayout"; }

<div class="card p-4">
    <div class="card-body">
        <h1>@ViewData["PageTitle"]</h1>
        <p>
            Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
        </p>
    </div>
</div>
