<div class="card-header">
    <div class="row">
        <div class="col-md-11">
            <strong>@ViewBag.PanelTitle</strong>
        </div>
        <div class="col-md-1">
            <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="Actions">
                    <a asp-action="create" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Create a new item">
                        <i class="cil-plus"></i>
                    </a>
                    <a asp-action="bulkdelete" class="btn btn-danger" id="bulk-delete" data-toggle="tooltip" data-placement="top" title="Select the items you want to delete" disabled="disabled">
                        <i class="cil-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
