@page
@model ForgotPasswordConfirmation
@{
    ViewData["PageTitle"] = "Forgot password confirmation";
}

<div class="card p-4">
    <div class="card-body">
        <h1>@ViewData["PageTitle"]</h1>
        <p>
            Please check your email to reset your password.
        </p>
        <p><a asp-page="./Login">Return to login page</a></p>
    </div>
</div>
