@model DateTime?
@{
    // We need to get the HtmlAttributes in order to customize the Div with the ContainerId
    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
}

<div class="input-group date" id="@htmlAttributes["containerId"]">
    @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue.ToString(), htmlAttributes)
    <div class="input-group-text datepickerbutton">
        <i class="cil-calendar"></i>
    </div>
</div>
