@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CmsEngine Admin</title>
  <base href="~/cms" />

  <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
  <app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

  <script src="~/dist/vendor.js" asp-append-version="true"></script>
  <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>
