@model InstanceViewModel
<!-- Hero Section-->
<section style="background: url(img/hero.jpg); background-size: cover; background-position: center center" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>@Model.PageTitle</h1>
                <a href="#" class="hero-link">Discover More</a>
            </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
    </div>
</section>
<!-- Intro Section-->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3">Some great intro here</h2>
                <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
            </div>
        </div>
    </div>
</section>
<section class="featured-posts no-padding-top">
    <div class="container">
        @for (int i = 0; i < Model.LatestPosts.Count(); i++)
        {
            var latestPost = Model.LatestPosts.ElementAt(i);
            <div class="row d-flex align-items-stretch">
                @if (i % 2 > 0)
                {
                    <div class="image col-lg-5">
                        <img src="https://placeimg.com/640/426/any" alt="@latestPost.Title" class="img-fluid">
                    </div>
                }

                @await Html.PartialAsync("_PostIndex", latestPost)

                @if (i % 2 == 0)
                {
                    <div class="image col-lg-5">
                        <img src="https://placeimg.com/640/426/any" alt="@latestPost.Title" class="img-fluid">
                    </div>
                }

            </div>
        }

    </div>
</section>
