<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" value="" id="title" name="title" class="form-control"
           [(ngModel)]="pageEditModel.title" #title="ngModel" />
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" value="" id="slug" name="slug" class="form-control"
           [(ngModel)]="pageEditModel.slug" #slug="ngModel" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" value="" id="description" name="description" class="form-control"
           [(ngModel)]="pageEditModel.description" #description="ngModel" />
  </div>
  <div class="form-group">
    <label for="documentContent">Document content</label>
    <input type="text" value="" id="documentContent" name="documentContent" class="form-control"
           [(ngModel)]="pageEditModel.documentContent" #documentContent="ngModel" />
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" value="" id="author" name="author" class="form-control"
           [(ngModel)]="pageEditModel.author" #author="ngModel" />
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <input type="text" value="" id="status" name="status" class="form-control"
           [(ngModel)]="pageEditModel.status" #dateFormat="ngModel" />
  </div>
  <button class="btn btn-primary">Save</button>
</form>