@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <div class="container text-center">
            <p>
                This website uses cookies to ensure you get the best experience. <a href="https://cookiesandyou.com/" target="_blank" class="alert-link">Learn more</a>.
            </p>
            <button type="button" class="btn btn-primary close-btn" aria-label="Got it!" data-dismiss="alert" data-cookie-string="@cookieString">Got it!</button>
        </div>
    </div>

    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
            }, false);
        })();
    </script>
}
