<form asp-controller="Blog" asp-action="Index" method="get" class="search-form">
    <div class="form-group mb-3">
        <input name="q" type="search" placeholder="What are you looking for?">
        <button type="submit" class="submit"><i class="icon-search"></i></button>
    </div>
</form>
