<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" value="" id="name" name="name" class="form-control"
           [(ngModel)]="categoryEditModel.name" #name="ngModel" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" value="" id="description" name="description" class="form-control"
           [(ngModel)]="categoryEditModel.description" #name="ngModel" />
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" value="" id="slug" name="slug" class="form-control"
           [(ngModel)]="categoryEditModel.slug" #description="ngModel" />
  </div>
  <button class="btn btn-primary">Save</button>
</form>