@page
@{ Layout = "/Views/Shared/Cms/_ExternalLayout.cshtml"; }
@model LoginModel

@{
    ViewData["PageTitle"] = "Login";
}

<div class="card col-md-7 p-4 mb-0">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="card-body">
            <h1>@ViewData["PageTitle"]</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input asp-for="Input.Email" class="form-control" placeholder="Username" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-group mb-4">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                </div>
                <div class="col-6 text-right">
                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
