@page
@{ Layout = "/Views/Shared/Cms/_ExternalLayout.cshtml"; }
@model ResetPasswordModel
@{
    ViewData["PageTitle"] = "Reset your password";
}

<div class="card p-4">
    <form method="post">
        <div class="card-body">
            <h1>@ViewData["PageTitle"]</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
